.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.form {
    border: 2px solid lightgray;
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    height: 500px;
    background-color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    &__actions {
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__btn {
        width: 100px;
        height: 40px;
        margin: 3% 0 0 5%;
        border: none;
        color: #fff;
        background-color: blue;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        &:hover {
            background-color: rgb(33, 59, 131);
        }
        &:disabled {
            background-color: gray;
            cursor: default;
        }
    }
    & h1 {
        color: rgb(95, 93, 93);
    }
}
